.onlinekhabar{
    float: left;
    width: 47% ;
    /*color: #ff0000;*/
    word-spacing: 10px;
    font-size: 20px;

    margin: 10px;

}

.ekantipur{
    float: right;
    width: 48%;
    /*color: 000;*/
    /*border: 2px;*/
    word-spacing: 10px;
    font-size: 20px;
    margin: 10px;

}

img.center {
    width: 200px;
    height: 70px;
    float: left;
    /*float: center;*/

}

*{

    background-color: black;
    color: #cccccc;
}

h2{
    color: blue;
}
